.cover {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-height: 480px;
  max-width: 200px;
  width: 100%;
  padding: 1.5rem;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cover:hover {
  cursor: pointer;
}

.author {
  color: gray;
}


