body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", "SF Pro Display", -apple-system, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  padding: 32px 48px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
}

.title {
  color: #20454B;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: inherit;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin: 0 0 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  font-weight: 500;
  font-size: 1rem;
  color: #4B5C5E;
}

.form-input {
  background-color: white;
  border-radius: 8px;
  color: #2a4b4f;
  border-color: #ffffff26;
  font-size: 1rem;
  height: 2rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
  box-shadow: 0px 1px 1px rgba(69, 28, 18, 0.02), 0px 2px 4px rgba(69, 28, 18, 0.03);
}

.form-input:focus {
  outline: none;
  border-color: #0000000f;
  box-shadow: 0px 1px 1px rgba(69, 28, 18, 0.02), 0px 2px 4px rgba(69, 28, 18, 0.03);
}

.form-button:hover {
  cursor: pointer;
}

.form-button {
  color: white;
  background-color: #147885;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}